@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

body {
    background-color:   #f5f5dc;
    width: 80%;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
   
}

.cover {
    background: rgba(0,0,0, .4);
    display: none;
    position: absolute;
    top:0 ;
    bottom: -1150px;
    right: 0;
    left: 0;
    content: '';
    z-index: 1;
  }
  
  .cover_show {
    display: block;
  }

.avatar {
    margin: 5px;
    display: flex;
    
}

.avatar_img {
    border-radius: 28px;
    box-shadow: 7px 4px 3px #a8a8a7;
}

.hidePhoto {
    display: none;
}

.activeAva {
    top: 50px;
    left: 400px;
    display: flex;
    position: absolute;
    width: 500px;
    height: auto;
    z-index: 2;
    transition: 200ms;
    border-radius: 28px;
    box-shadow: 7px 4px 3px #a8a8a7;
}

.photo_img {
width: 50px;
height: 50px;
display: flex;
flex-direction: column;
margin-bottom: 10px;
margin-left: 10px;
border-radius: 28px;
box-shadow: 7px 4px 3px #a8a8a7;
}

.photo_img:hover {
  width: 20%;
  height: auto;
  position: absolute;
  transition: 200ms;
  }

.prev {
    color: rgb(55, 102, 131);
    background-color: rgb(241, 241, 219);
    font-size: 28px;
    width: 40px;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid rgb(55, 102, 131);
    position:absolute;
    top: 45%;
    height: 300px;
    margin-left: 10px;
    display: none;
    z-index: 2;
}

.prev:hover {
    background-color: rgb(238, 238, 168);
    color: rgb(95, 122, 196);
    box-shadow: 7px 4px 3px #a8a8a7;
    cursor:pointer;
}

.prev:active {
    transform: translateY(4px);
}

.next {
    color: rgb(55, 102, 131);
    background-color: rgb(241, 241, 219);
    font-size: 28px;
    width: 40px;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid rgb(55, 102, 131);
    position:absolute;
    top: 45%;
    height: 300px;
    right: 0;
    margin-right: 10px;
    display: none;
    z-index: 2;
}

.next:hover {
    background-color: rgb(238, 238, 168);
    color: rgb(95, 122, 196);
    box-shadow: 7px 4px 3px #a8a8a7;
    cursor:pointer;
}
.next:active {
    transform: translateY(4px);
}

.info {
    font-style: italic;
    margin-left: 10px;
    padding-left: 5px;
}

.soc {
    text-decoration: none;
    }

.soc:hover {
text-decoration: underline ;
}

.soc:active {
    color: rgb(56, 39, 71);
}

.card {
    padding: 15px 20px;
    background-color: rgb(219, 202, 202);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px rgb(153, 151, 151);
}

.hobby {
    margin-top: 0%;
    background-color: rgb(201, 206, 221);
}

.experience {
    background-color: rgb(194, 219, 205);
}

.about {
    background-color: rgb(223, 223, 223);
}

.input {
    background-color: rgb(230, 230, 230);
    margin: 3px;
    border-radius: 5px;
}

.label {
    font: italic small-caps bold 14px/2 cursive;
    }

.textarea {
    margin: 2px;
    background-color: rgb(230, 230, 230);
}

.submit {
    background-color: rgb(230, 230, 230);
    font: italic small-caps bold 14px/2 cursive;
}

