@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

body {
    background-color: 	#f5f5dc;
    width: 75%;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
   
}

.avatar {
    margin: 5px;
    display: flex;
    
}

.avatar img {
    border-radius: 28px;
    box-shadow: 7px 4px 3px #a8a8a7;
}

.activeAva {
    display: none;
    position: absolute;
    width: 500px;
    height: auto;
    z-index: 9999;
    
}

.photo img {
width: 50px;
height: 50px;
display: flex;
flex-direction: column;
margin-bottom: 10px;
margin-left: 10px;

}


.photo :hover {
  width: 20%;
  height: auto;
  position: absolute;
  transition: 300ms;
}

.info {
    font-style: italic;
    margin-left: 10px;
    padding-left: 5px;
}

.soc {
    text-decoration: none;
    }

.soc:hover {
text-decoration: underline ;
}

.soc:active {
    color: rgb(56, 39, 71);
}

.card {
    padding: 15px 20px;
    background-color: rgb(219, 202, 202);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px rgb(153, 151, 151);
}

.hobby {
    margin-top: 0%;
    background-color: rgb(201, 206, 221);
}

.experience {
    background-color: rgb(194, 219, 205);
}

.about {
    background-color: rgb(223, 223, 223);
}

.input {
    background-color: rgb(230, 230, 230);
    margin: 3px;
    border-radius: 5px;
}

.label {
    font: italic small-caps bold 14px/2 cursive;
    }

.textarea {
    margin: 2px;
    background-color: rgb(230, 230, 230);
}

.submit {
    background-color: rgb(230, 230, 230);
    font: italic small-caps bold 14px/2 cursive;
}

